<template>
  <div>
    <div class="input_todo_container mb">
      <el-input v-model="inputTodo" placeholder="todo" class="grid-content"></el-input>
      <el-button type="danger" @click="createTodo(inputTodo)" icon="el-icon-plus">Ajouter</el-button>
    </div>
    <div v-for="(todo, key) in todos" :key="todo.id" class="todo_container">
      <div class="input_todo_container input_todo mb">
        <h2>{{todo.name}}</h2>
        <el-button type="danger" @click="deleteTodo(key)" icon="el-icon-remove">Supprimer</el-button>
      </div>
      <el-table :data="todo.items">
        <el-table-column class="mb" label="content" prop="content"></el-table-column>
        <el-table-column class="mb" label="completed" prop="completed">
          <template slot-scope="scope">
            <el-checkbox
              @change="updateItem(todo, key)"
              label="completed"
              v-model="scope.row.completed"
            ></el-checkbox>
          </template>
        </el-table-column>
        <el-table-column class="mb" label="operations">
          <template slot-scope="scope">
            <el-button type="danger" @click="deleteItem(todo, scope.row)" icon="el-icon-remove"></el-button>
          </template>
        </el-table-column>
        <template slot="append">
          <div class="input_todo_container">
            <el-input v-model="inputContent[key]" placeholder="content"></el-input>
            <el-button type="danger" @click="createItem(todo, key)" icon="el-icon-plus"></el-button>
          </div>
        </template>
      </el-table>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getTodo();
  },
  data() {
    return {
      inputTodo: "",
      inputContent: [],
      todos: [
        {
          id: 0,
          name: "hello",
          items: [{ id: 0, content: "test", completed: false }]
        }
      ]
    };
  },
  methods: {
    getTodo() {
      // this.$api.get("/todo").then(response => {
      // this.todos = response.data;
      //});
    },
    deleteItem(todo, ligne) {
      // this.$api.delete(`/todo/${todo.id}/item/${ligne.id}`).then(() => {
      todo.items = todo.items.filter(item => item.id !== ligne.id); // eslint-disable-line no-param-reassign
      //});
    },
    createItem(todo, key) {
      // this.$api
      //   .put(`/todo/${todo.id}/item/${key}`, {
      //     content: this.inputContent[key],
      //     completed: false
      //   })
      //   .then(response => {
      // todo.items.push(response.data);
      // });

      todo.items.push({
        id: todo.items.length,
        content: this.inputContent[key],
        completed: false
      });
    },
    updateItem(todo, key) {
      /*this.$api.put(`/todo/${todo.id}/item/${key}`, {
        content: this.inputContent[key],
        completed: todo.items.find(element => element.id === key).completed
      });*/
    },
    deleteTodo(id) {
      // this.$api.delete(`/todo/${id}`).then(() => {
      this.todos.splice(id, 1);
      // });
    },
    createTodo(key) {
      /*this.$api
        .post(`/todo`, {
          name: key,
          items: [],
          updatedAt: new Date(),
          createdAt: new Date()
        })
        .then(response => {*/
      // this.todos.push(response.data);
      // });

      this.todos.push({ id: key, name: this.inputTodo, items: [] });
    }
  }
};
</script>

<style lang="scss" scoped>
.input_todo_container {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
}
.input_todo {
  justify-content: space-between;
}
.todo_container {
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
}
.mb {
  margin-bottom: 1em;
}
</style>
